* {
    margin: 0;
    padding: 0;
    background-color: #A3DBF5;
}

/*Estilização do logo*/
.logo {
    display:flex;
    justify-content: center;
    margin-top: 10rem;
}

#logo {
    display: flex;
    justify-content: center;
    width: 65%;
}

/*Estilização do menu*/
nav {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

nav a {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
}


.icone25 {
    width: 25%;
}

.efect img.icone25:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}

.icone30 {
    width: 30%;
}

.efect img.icone30:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}

.icone40 {
    width: 40%
}

.efect img.icone40:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}

/*************************************************************************************************/
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10rem;
}